.steps {
  display: flex;
  gap: 8px;
  align-self: center;
  padding: 2px 3px;
  font-size: 15px;
  border-radius: 50px;
  background-color: #d9d9d970;
}
.steps > span {
  width: 25px !important;
  height: 25px !important;
  display: grid;
  place-items: center;
  color: black;
  background-color: white;
  font-family: Poppins;
  font-weight: 500;
  border-radius: 20px;
}
