.learn_link{
    font-size:1.1rem;
    font-weight:500;
}


.cr_card{
    padding:1rem 0.5rem;
    background-color:#fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.08);
    position:relative;
    border-radius: 12px;
    cursor: pointer;
}

.carousel_item:nth-child(odd){
    padding-inline: 12px;
}



.card_img_wrapper{
    width:35px;
    height:35px;
}

.card_img_container{
    display:grid;
    place-items:center;
    width:40px;
    height:40px;
    border-radius:50%;
}