.search_container{
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #000;
    top: 0;
    bottom: 0;
    height: 100vh;
    display: grid;
    left: 0;
    place-items: center;
}

.close_btn{
    position: fixed;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    top: 30px;
    right:50px;
}

.input_box{
    width: 30%;
    border: none;
    border-radius: 3px;
    padding-inline: 2rem;
    background-color: #fff;
}